* {
    border: 1px;
    border-color: black;
    border-style: solid;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calcBackground {
    width: 350px;
    height: 600px;
    background-color: grey;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    display: flex;
    width: 330px;
    height: 580px;
    flex-wrap: wrap;
}

#screen {
    width: 330px;
    height: 100px;
    background-color: black;
}

button {
    width: 80px;
    height: 50px;
}